@font-face {
  font-family: "Tania";
  src: url(./fuentes/Poppins-Light.ttf);
}

:root {
  --blanco: #ffffff;
  --negro: #000000;
  --morado: #151a41;
  --rosa: #ff0099;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Tania";
  font-size: 1rem;
  background-color: whitesmoke;
}

.contenedor {
  background: var(--blanco);
  max-width: 35rem;
  height: 35rem;
  padding: 3rem;
  border-radius: 2rem;
  margin: 12rem auto;

  box-shadow: 8px 10px 10px 1px rgba(0, 0, 0, 0.5);
}

.contenedor h2 {
  text-align: center;
}

.botones {
  display: flex;
  justify-content: center;
}

.botones button {
  margin: 0.2rem;
  font-family: "Tania";
  font-weight: 700;

  background-color: var(--blanco);
  border-radius: 0.5rem;

  border: 0.2rem solid;
  border-color: whitesmoke;
  padding: 1rem;
  cursor: pointer;
}

.botones button:hover {
  color: var(--blanco);
  background: var(--rosa);
}

.opinion {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  font-size: 0.9rem;
}

.opinion-1 {
  width: 1rem;
  font-weight: 700;
}

.opinion-2 {
  width: 9rem;
  font-weight: 700;
}

.check {
  font-weight: 700;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

button {
  width: 100%;
  font-family: "Tania";
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--blanco);
  border: 0.2rem solid;
  border-color: whitesmoke;
  padding: 1.2rem;
  border-radius: 0.5rem;
}

button:hover {
  color: var(--blanco);
  background: var(--rosa);
  cursor: pointer;
}

button .logo {
  padding-left: 1rem;
}

input {
  cursor: pointer;
}

@media (min-width: 1140px) {
  .contenedor {
    max-width: 40rem;
    height: 40rem;
    padding: 3rem;
    border-radius: 2rem;
  }

  p, label {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 2rem;
  }

  .opinion-2 {
    width: 13rem;
    font-weight: 700;
  }
}
